

<div class="cards">
    <div class="card">
        <div class="imgBox">
            <img src="../../../assets/images/office-employee.svg" alt="Employee management icon">
        </div>
        <div class="contentBox">
            <h3> Employees Management </h3>
            <a routerLink="/employees" class="buy">Enter</a>
        </div>
    </div>

    <div class="card">
        <div class="imgBox">
            <img src="../../../assets/images/vacation.svg" alt="Vacation planning icon">
        </div>
        <div class="contentBox">
            <h3> Vacation Management </h3>
            <a routerLink="/vacation" class="buy">Enter</a>
        </div>
    </div>

    <div class="card">
        <div class="imgBox">
            <img src="../../../assets/images/transportation-train.svg" alt="Transportation icon">
        </div>
        <div class="contentBox">
            <h3> Transportation Management </h3>
            <a routerLink="/transportation" class="buy">Enter</a>
        </div>
    </div>
</div>