/* Global styles */


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  background: radial-gradient(circle at top, #5158ff 0%, #3a41d3 40%, #222544 100%);
}

body {
  display: flex;
  flex-direction: column;
}

app-root {
  flex: 1 0 auto;
  display: flex;
  width: 100%;
}